.MessagePostContainer {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.MessagePostContainer h1 {
  font-size: 16px;
  margin: 2px;
}

.MessagePostContainer h2 {
  font-size: 14px;
  margin: 2px;
}

.MessagePostContainer p {
  font-size: 14px;
  margin: 2px;
}
